<div style="width:80%; margin:0 auto;">
	<h1>Editing Publication</h1>
	<%= render 'form', publication: @publication %>
	<%= link_to 'Show', @publication %> |
	<%= link_to 'Back', publications_path %>
</div>

