<!DOCTYPE html>
<html>
  <head>
    <title>PracticaTopicosTelematica</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <header>
    <nav class="navbar navbar-inverse" style="border-radius: 0px">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span>Home Page</a>
        </div>
      </div>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
